.container {
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-top: 50px;
}

.main-container {
  padding: 32px 24px 32px 24px;
  background-color: var(--white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-sizing: border-box;
}

.split-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 327px;
  align-items: center;
}

@media(min-width:768px) {
  .main-container {
    padding: 48px 80px 48px 80px;
    width: 608px;
    border-radius: 25px;
  }

  .content-container {
    gap: 40px;
    width: 457px;
    justify-content: center;
  }
  .container{
     margin-bottom: 80px;
  }
}

@media(min-width:1440px) {
  .main-container {
    padding: 32px;
    width: 920px;
    border-radius: 25px;
  }

  .content-container {
    flex-direction: row;
    gap: 48px;
    width: 840px;
    align-items: center;
    justify-content: center;
  }

  .container {
    gap: 88px;
    margin-top: 163px;
    margin-bottom: 239px;
  }
}